Gatekeeper/bin/Debug/net6.0/Gatekeeper.dll
Gatekeeper/bin/Debug/net6.0/Gatekeeper.pdb
Gatekeeper/bin/Debug/net6.0/Gatekeeper-637859875472558188.zip
Gatekeeper/bin/Debug/net6.0/publish/aws-beanstalk-tools-defaults.json
Gatekeeper/bin/Debug/net6.0/publish/Gatekeeper.dll
Gatekeeper/bin/Debug/net6.0/publish/Gatekeeper.pdb
Gatekeeper/bin/Debug/net6.0/win-x64/aws-beanstalk-tools-defaults.json
Gatekeeper/bin/Debug/net6.0/win-x64/Gatekeeper.dll
Gatekeeper/bin/Debug/net6.0/win-x64/Gatekeeper.pdb
Gatekeeper/obj/Debug/net6.0/Gatekeeper.dll
Gatekeeper/obj/Debug/net6.0/Gatekeeper.pdb
Gatekeeper/obj/Debug/net6.0/ref/Gatekeeper.dll
Gatekeeper/obj/Debug/net6.0/refint/Gatekeeper.dll
Gatekeeper/obj/Debug/net6.0/win-x64/Gatekeeper.dll
Gatekeeper/obj/Debug/net6.0/win-x64/Gatekeeper.pdb
Gatekeeper/obj/Debug/net6.0/win-x64/ref/Gatekeeper.dll
Gatekeeper/obj/Debug/net6.0/win-x64/refint/Gatekeeper.dll
.vs/Gatekeeper/DesignTimeBuild/.dtbcache.v2
.vs/Gatekeeper/v17/.suo
Gatekeeper/obj/staticwebassets.pack.sentinel
Gatekeeper/obj/Debug/net6.0/win-x64/Gatekeeper.csproj.FileListAbsolute.txt
Gatekeeper/obj/Debug/net6.0/win-x64/PublishOutputs.86a6de13fb.txt
Gatekeeper/bin/Debug/net6.0/Gatekeeper-637865076436351242.zip
Gatekeeper/obj/Gatekeeper.csproj.nuget.dgspec.json
Gatekeeper/obj/project.assets.json
Gatekeeper/obj/project.nuget.cache
Gatekeeper/obj/Debug/net6.0/staticwebassets.build.json
Gatekeeper/obj/Debug/net6.0/staticwebassets.development.json
