@page
@using Gatekeeper.Pages;
@model Gatekeeper.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="text-center">
            <a href="/Calculation" >Calculator Playground</a>
        </div>
    </body>
</html> 